*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Baloo Bhaijaan 2', cursive;
}

html{
    scroll-behavior: smooth;
}

#nav{
    height: 95.7vh;
    width: 25px;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
    border-radius: 10px;
}

#nav:hover{
    background-color: rgb(0, 255, 255);
}

#nav a{
    color:#a8b5ff;
}

#pointToHead{
    padding: 5vh 3px 31vh 2px;
    position: absolute;
    color: blue;
    font-size:50px;
}

#pointToFoot{
    position:fixed;
    margin-top: 50vh;
    padding: 31vh 3px 5vh 2px;
    color: blue;
    font-size:50px;
}

#nav a:hover{
    color: rgb(236, 0, 0);
}

#mainh1, #mainh12{
    color: #a8b5ff;
}

#mainDiv{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgb(0, 0, 0);
}

#innerDiv, #innerDiv2{
    background-color: rgb(7, 25, 42);
    padding: 20px;
}

#messageContainer1{
    height: 150px;
}

#messageContainer2{
    height: 45px;
}

#getInput{
    margin:0px;
    padding:0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#getInput div{
    display: flex;
    flex-direction: column;
    height: 60px;
}


#interaction{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#interaction .tips{
    width: 200px;
}

#pressEnterMessage1{
    position: absolute;
    margin: 42px 40px;
}

#input, #input2{
    border-radius: 10px 10px 0px 0px;
    font-size: 22px;
    padding: 10px;
    background-color: rgb(14, 8, 22);
    color: white;
    font-family: 'Cairo', sans-serif;
    font-weight:bold;
    border: 1px groove white;
    color: transparent;                              /*to hide the blinking cursor */
    text-shadow : 0 0 0 rgb(255, 255, 255);
    color:rgb(255, 0, 0)(0,0,0);
}

#input{
    margin-left: 235px;
}

#input:focus, #input2:focus{
    cursor:none;
    outline : none;
}

#result, #result2{
    color: rgb(255, 0, 0);
}

#btn, #btn2{
    padding: 2px 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: medium;
    cursor:pointer;
}

#btn{
    margin-right: 10px;
    margin-left: 40px;
}

#copyright{
    z-index: 2;
}

#copyright a{
    text-decoration: none;
}


.kb{
    width: 714px;
    height: auto;
    background-color: rgb(200, 245, 225);
    border: 2px solid black;
    margin: 10px 40px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 10px;
    border: 2px groove grey;
}

.keys{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 3px 3px;
    border: 2px groove rgb(117, 117, 117);
    border-radius: 5px;
    transition: all;
    transition-property: all;
    transition-delay: 0ms;
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
    box-shadow: 4px 4px 4px 1px black;
}

.notchKey{
    margin-left: 9px;
    height: 30px;
    width: 15px;
    border-bottom: 1px solid rgb(158, 157, 157);
}

#key-14{
    width: 95px;
}

#key1{
    width: 70px;
}

#key14{
    width: 66px;
}

#key15{
    width: 82px;
}

#key27{
    width: 100px;
}

#key28{
    width: 100px;
}

#key39{
    width: 128px;
}

#key40{
    width: 270px;
    margin-left: 201px;
    font-stretch:wider;
}